<div class="dialog-content-wrapper">
    <div mat-dialog-title class="mat-accent-bg p-16 m-0" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">Pilih Attribute</span>
        <button (click)="onNoClick()" aria-label="Close dialog" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="p-24 m-0" fxLayout="row" fxLayoutAlign="start center">
      <div class="form-container">
        <mat-selection-list #attrs>
            <mat-list-option *ngFor="let attr of attributes" [selected]="attrSelected(attr.Name)" (click)="selectChange(attrs)" [value]="attr">
                {{attr.Name}} ({{attr.Type}})
            </mat-list-option>
        </mat-selection-list>
        <mat-form-field>
            <mat-select placeholder="Primary Key"  [(ngModel)]="primaryKey">
              <mat-option *ngFor="let attr of attributes" [value]="attr.Name">
                {{attr.Name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-raised-button color="primary" type="button" (click)="onOkClick()" tabindex="2">Simpan</button>
        <button mat-raised-button (click)="onNoClick()" tabindex="-1">Batal</button>
    </div>
</div>