<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Pusintek" value="http://10.242.77.90/PusintekGet/nuget" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <apikeys>
    <add key="http://10.242.77.90/PusintekGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA9EVU5pExGU61HCVqV1026wAAAAACAAAAAAAQZgAAAAEAACAAAADc9Tn3eDapGBR+33leb6ogRwk/vJ5mYSsRls7pN87o8wAAAAAOgAAAAAIAACAAAACvKgYEK0DTQNAWSoqeE2I2y0eVjEcWfhYPkZrFRfecshAAAADXYIGdR9Xun3MCgsmdpXCKQAAAAP0GZ/cUN9TQdJel4ThXLT564cVfIgX+QpMrG1Ztv1T+r0U2w9sWvNxaTM0GUFmHMxPNECoHT8o3MhVGULJvjUk=" />
  </apikeys>
</configuration>