<!--<layout-loader></layout-loader>-->
<!--
spinner options:
skChasingDots, skCubeGrid,skDoubleBounce,skRotatingPlane,skSpinnerPulse,skThreeBounce,skWanderingCubes,skWave
-->
<ng-http-loader [backgroundColor]="'#ff0000'"
                [spinner]="spinkit.skThreeBounce"
                [debounceDelay]="100"
                [minDuration]="2000">
</ng-http-loader>
<div class="page-layout carded fullwidth single-scroll" [perfectScrollbar]>
  <div class="top-bg mat-accent-bg"></div>
  <div class="center">
    <div class="header white-fg p-8" fxLayout="row" fxLayoutAlign="start center">
      <a href="" [routerLink]="'/'" class="header-icon">
        <mat-icon>home</mat-icon>
      </a>
      <mat-icon>keyboard_arrow_right</mat-icon>
      <mc-breadcrumbs></mc-breadcrumbs>
    </div>
    <div class="content-card mat-white-bg">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
