<div class="dialog-content-wrapper">
    <div mat-dialog-title class="mat-accent-bg p-16 m-0" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">Role Form</span>
        <button (click)="onNoClick()" aria-label="Close dialog" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="p-24 m-0">
        <section>
            <h4>{{data.user.Nama}}</h4>
            <h5>{{data.user.Nip}}</h5>
        </section>
        <mat-selection-list #roles>
            <mat-list-option *ngFor="let role of allRoles" [selected]="role.IsChecked" (click)="selectChange(roles)" [value]="role.RoleName">
                {{role.RoleName}}
            </mat-list-option>
        </mat-selection-list>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-raised-button color="primary" type="button" (click)="onOkClick()" tabindex="2">Simpan</button>
        <button mat-raised-button (click)="onNoClick()" tabindex="-1">Batal</button>
    </div>
</div>