<div class="dialog-content-wrapper">
  <div mat-dialog-title class="mat-accent-bg p-16 m-0" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">Quote Form</span>
    <button aria-label="Close dialog" mat-icon-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="p-24 m-0">
    <form [formGroup]="formGroup" novalidate fxFlex fxLayout="column">
      <mat-form-field>
        <input matInput id="quote" formControlName="quote" placeholder="Quote" required/>
        <mat-error *ngIf="formGroup.controls['quote'].errors">
          <div [hidden]="!formGroup.controls['quote'].errors.required">Quote wajib diisi!</div>
        </mat-error>
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button (click)="onOkClick()" [disabled]="isEdit? formGroup.pristine : formGroup.invalid" color="primary" type="button" tabindex="2">Simpan</button>
    <button mat-raised-button (click)="onNoClick()" tabindex="-1">Batal</button>
  </div>
</div>