<div class="toolbar px-24 py-8"  fxLayout="row" fxLayoutAlign="space-between center">
    
  <div class="content-toolbar" fxFlex="60" fxLayout="row" fxLayoutAlign="start center">
    <button mat-mini-fab (click)="onAddNewUserClick()" matTooltip="Add More User">
      <mat-icon>add</mat-icon>
    </button>
    <div *ngIf="selected.length > 0" class="toolbar-separator"></div>
    <button *ngIf="selected.length > 0" matTooltip="Assign Role" color="primary" mat-icon-button (click)="onAssignRoleClick()">
      <mat-icon>playlist_add_check</mat-icon>
    </button>
  </div>
    <layout-search-bar (search)="updateFilter($event)" fxFlex></layout-search-bar>
</div>
<div class="content p-24">
    <ngx-datatable #table class="material" [rows]="users" [columns]="columns" [columnMode]="'force'" [rowHeight]="'50'" [selected]="selected"
        [selectionType]="'single'" [selectCheck]="singleSelectCheck" [headerHeight]="50" [footerHeight]="50"
        [limit]="10">
    </ngx-datatable>

    <ng-template #gravatar let-row="row" let-value="value">
        <div class="gravatar">
            <img src="{{value}}" alt="gravatar">
        </div>
    </ng-template>
</div>
